/* ==========================================================================
   Variables
   ========================================================================== */ 
   
$global-width: 	64em; //1024px

$xsmall-width:  30em; // 480px
$small-width:  	40em; // 640px
$medium-width: 	60em; // 960px
$large-width: 	64em; // 1024px
$xlarge-width: 	68.750em; // 1100px

// Colors & Fonts
// -----------

$primary-color: #f8e71d;
$secundary-color: #0f683a;
$black: #0a0a0a;
$white: #fefefe;


$font-family: 'Gotham', Helvetica, Arial, sans-serif;


// The Grid
// -----------

$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: 30px;
$block-grid-max: 6;

@mixin section($pad) {
	float: left;
	width: 100%;
	padding: $pad;
}

@mixin back-repeat() {
	background: url('images/repeat-form.jpg') repeat;
}